<h2>Validation inline of cells</h2>

<!-- <p>
  This paragraph has a
  <b [wjTooltip]="'#spanTooltip'">span with a Wijmo tooltip</b>
  whose content is taken from another element.
</p> -->

<saf-tooltip anchor="anchor-overview"> Tooltip </saf-tooltip>
<wj-flex-grid
  #flex
  [itemsSource]="view"
  (formatItem)="onFormatItem(flex, $event)"
  wjTooltip="#saffronTooltipUsingWijmo"
>
</wj-flex-grid>

<div id="spanTooltip" style="display: none">
  <div class="panel panel-info">
    <div class="panel-heading">Title</div>
    <div class="panel-body">This is the second span.</div>
  </div>
</div>
<saf-tooltip anchor="anchor-overview">
  Outside of Flexgrid, Saffron tooltip works peache
</saf-tooltip>

<saf-button id="anchor-overview" a11y-aria-description="Tooltip">
  Overview anchor
</saf-button>
