<h2>Multiple components in cells</h2>

<saf-status
  role="status"
  id="cell.item.authorizationStatus"
  status="'success'"
  message="'Message here'"
>
</saf-status>

<wj-flex-grid
  #flex
  [deferResizing]="true"
  [itemsSource]="items"
  selectionMode="CellRange"
  [showMarquee]="false"
  [anchorCursor]="true"
  [isReadOnly]="false"
  headersVisibility="All"
  headersFocusability="All"
  (initialized)="initGrid(flex)"
  aria-labelledby="tableHeader-toolbar"
  aria-describedby="tableDescription-toolbar"
  data-testid="table-toolbar"
  style="margin-top: 16px"
  class="wj-flexsheet saf-flexgrid--compact"
>
  <wj-flex-grid-column
    binding="consentId"
    header="Consent ID"
    [width]="'*'"
    [cellTemplate]="templateSimpleLink"
  ></wj-flex-grid-column>
  <wj-flex-grid-column
    binding="provider"
    header="Provider"
    [width]="'*'"
  ></wj-flex-grid-column>

  <wj-flex-grid-column
    binding="authorizationStatus"
    header="Authorization Status"
    [dataMap]="colors"
    width="*"
  >
    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
      <span class="authorization-status">
        <span class="status">
          {{ cell.item.authorizationStatus }}
        </span>

        <span class="icons">
          <saf-icon
            [attr.color]="cell.item.iconColor"
            [attr.icon-name]="cell.item.iconStatus"
            appearance="solid"
          >
          </saf-icon>

          <saf-status
            #myRef
            role="status"
            id="cell.item.authorizationStatus"
            status="'success'"
            message=""
          >
          </saf-status>
        </span>
      </span>
    </ng-template>
  </wj-flex-grid-column>

  <wj-flex-grid-column
    binding="validUntil"
    header="Actions"
    [width]="'*'"
    [dataMap]="actions"
  ></wj-flex-grid-column>
</wj-flex-grid>
