.color-tile {
    display: inline-block;
    position: relative;
    width: 1.33333333em;
    height: 1em;
    vertical-align: middle;
    border: 1px solid grey;
}

.authorization-status {
    display: flex;
    justify-content: space-between;
}